AdministrativeClient/AdministrativeClient/Connected Services/ServiceReference/AdministrativeService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ScoreService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ScoreService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4321/AdministrativeService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/GameLogic" />
  <xs:complexType name="ArrayOfScoreDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ScoreDto" nillable="true" type="tns:ScoreDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfScoreDto" nillable="true" type="tns:ArrayOfScoreDto" />
  <xs:complexType name="ScoreDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Points" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GameLogic" minOccurs="0" name="RolePlayed" type="q1:Role" />
      <xs:element minOccurs="0" name="UserNickname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScoreDto" nillable="true" type="tns:ScoreDto" />
</xs:schema>