AdministrativeClient/AdministrativeClient/Connected Services/ServiceReference/AdministrativeService74.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:4321/AdministrativeService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UserCRUDService" />
  <xs:import schemaLocation="http://127.0.0.1:4321/AdministrativeService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ActionResults" />
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UserCRUDService" minOccurs="0" name="user" nillable="true" type="q1:UserDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nickname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oldNickname" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UserCRUDService" minOccurs="0" name="modified" nillable="true" type="q2:UserDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ActionResults" minOccurs="0" name="GetResult" nillable="true" type="q3:UserActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ActionResults" minOccurs="0" name="GetAllUsersResult" nillable="true" type="q4:UserListActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopScores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopScoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ActionResults" minOccurs="0" name="GetTopScoresResult" nillable="true" type="q5:ScoreListActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastGamesStatistics">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastGamesStatisticsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ActionResults" minOccurs="0" name="GetLastGamesStatisticsResult" nillable="true" type="q6:GamesStatisticsActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastMatchLog">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastMatchLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLastMatchLogResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>