AdministrativeClient/AdministrativeClient/Connected Services/ServiceReference/AdministrativeService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UserABM" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UserABM" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserDto">
    <xs:sequence>
      <xs:element name="nickname" nillable="true" type="xs:string" />
      <xs:element name="photoPath" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDto" nillable="true" type="tns:UserDto" />
  <xs:complexType name="ArrayOfUserDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDto" nillable="true" type="tns:UserDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDto" nillable="true" type="tns:ArrayOfUserDto" />
</xs:schema>