AdministrativeClient/AdministrativeClient/Connected Services/ServiceReference/AdministrativeService76.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ActionResults" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ActionResults" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:4321/AdministrativeService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UserCRUDService" />
  <xs:import schemaLocation="http://127.0.0.1:4321/AdministrativeService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/GamesInfoService" />
  <xs:import schemaLocation="http://127.0.0.1:4321/AdministrativeService?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/UserCRUDServiceContract" />
  <xs:complexType name="UserActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UserCRUDService" name="_x003C_User_x003E_k__BackingField" nillable="true" type="q1:UserDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserActionResult" nillable="true" type="tns:UserActionResult" />
  <xs:complexType name="ActionResult">
    <xs:sequence>
      <xs:element name="_x003C_Message_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Success_x003E_k__BackingField" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActionResult" nillable="true" type="tns:ActionResult" />
  <xs:complexType name="UserListActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UserCRUDService" name="_x003C_UsersList_x003E_k__BackingField" nillable="true" type="q2:ArrayOfUserDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserListActionResult" nillable="true" type="tns:UserListActionResult" />
  <xs:complexType name="ScoreListActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GamesInfoService" name="_x003C_ScoreList_x003E_k__BackingField" nillable="true" type="q3:ArrayOfScoreDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ScoreListActionResult" nillable="true" type="tns:ScoreListActionResult" />
  <xs:complexType name="GamesStatisticsActionResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionResult">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/UserCRUDServiceContract" name="_x003C_GamesStatistics_x003E_k__BackingField" nillable="true" type="q4:ArrayOfGameReportDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GamesStatisticsActionResult" nillable="true" type="tns:GamesStatisticsActionResult" />
</xs:schema>