AdministrativeClient/AdministrativeClient/Connected Services/ServiceReference/AdministrativeService75.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GamesInfoService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GamesInfoService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:4321/AdministrativeService?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/GameLogic" />
  <xs:complexType name="ArrayOfScoreDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ScoreDto" nillable="true" type="tns:ScoreDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfScoreDto" nillable="true" type="tns:ArrayOfScoreDto" />
  <xs:complexType name="ScoreDto">
    <xs:sequence>
      <xs:element name="_x003C_Date_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_Points_x003E_k__BackingField" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GameLogic" name="_x003C_RolePlayed_x003E_k__BackingField" type="q1:Role" />
      <xs:element name="_x003C_UserNickname_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScoreDto" nillable="true" type="tns:ScoreDto" />
</xs:schema>