AdministrativeClient/AdministrativeClient/Connected Services/ServiceReference/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4321/AdministrativeService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4321/AdministrativeService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4321/AdministrativeService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UserCRUDService" />
      <xsd:import schemaLocation="http://localhost:4321/AdministrativeService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ActionResults" />
      <xsd:import schemaLocation="http://localhost:4321/AdministrativeService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/GamesInfoService" />
      <xsd:import schemaLocation="http://localhost:4321/AdministrativeService?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/GameLogic" />
      <xsd:import schemaLocation="http://localhost:4321/AdministrativeService?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/UserCRUDServiceContract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWebService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IWebService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IWebService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_ModifyUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyUser" />
  </wsdl:message>
  <wsdl:message name="IWebService_ModifyUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyUserResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="IWebService_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetTopScores_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTopScores" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetTopScores_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTopScoresResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetLastGamesStatistics_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastGamesStatistics" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetLastGamesStatistics_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastGamesStatisticsResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetLastMatchLog_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastMatchLog" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetLastMatchLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastMatchLogResponse" />
  </wsdl:message>
  <wsdl:portType name="IWebService">
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebService/AddUser" message="tns:IWebService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebService/AddUserResponse" message="tns:IWebService_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebService/DeleteUser" message="tns:IWebService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebService/DeleteUserResponse" message="tns:IWebService_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebService/ModifyUser" message="tns:IWebService_ModifyUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebService/ModifyUserResponse" message="tns:IWebService_ModifyUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebService/Get" message="tns:IWebService_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebService/GetResponse" message="tns:IWebService_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebService/GetAllUsers" message="tns:IWebService_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebService/GetAllUsersResponse" message="tns:IWebService_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTopScores">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebService/GetTopScores" message="tns:IWebService_GetTopScores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebService/GetTopScoresResponse" message="tns:IWebService_GetTopScores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastGamesStatistics">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebService/GetLastGamesStatistics" message="tns:IWebService_GetLastGamesStatistics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebService/GetLastGamesStatisticsResponse" message="tns:IWebService_GetLastGamesStatistics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastMatchLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebService/GetLastMatchLog" message="tns:IWebService_GetLastMatchLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebService/GetLastMatchLogResponse" message="tns:IWebService_GetLastMatchLog_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWebService" type="tns:IWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IWebService/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IWebService/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyUser">
      <soap:operation soapAction="http://tempuri.org/IWebService/ModifyUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/IWebService/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IWebService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopScores">
      <soap:operation soapAction="http://tempuri.org/IWebService/GetTopScores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastGamesStatistics">
      <soap:operation soapAction="http://tempuri.org/IWebService/GetLastGamesStatistics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastMatchLog">
      <soap:operation soapAction="http://tempuri.org/IWebService/GetLastMatchLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="BasicHttpBinding_IWebService" binding="tns:BasicHttpBinding_IWebService">
      <soap:address location="http://localhost:4321/AdministrativeService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>