Obligatorio1/AdministrativeClient/Connected Services/ServiceReference/AdministrativeService72.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UserCRUDService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UserCRUDService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserDto">
    <xs:sequence>
      <xs:element name="_x003C_Nickname_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Photo_x003E_k__BackingField" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDto" nillable="true" type="tns:UserDto" />
  <xs:complexType name="ArrayOfUserDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDto" nillable="true" type="tns:UserDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDto" nillable="true" type="tns:ArrayOfUserDto" />
</xs:schema>